* {
    font-family:Noto Sans;
    font-weight: 800;
}

.chart-container {
    font-weight: 800;
    width:100% !important;
    height:450px !important;
    position:relative; 
    box-sizing: border-box !important;
}

.chart-container canvas {
    width:100%;
    height:450px; 
}

.full_page_video {
    position:absolute;
    top:-300px;
    left:0px;
}

.creative_caption_top {
    position:absolute;
    top:45px !important;
    left:15px !important;
    display:inline-block;
    text-transform:uppercase ;
    background:orange !important;
    padding:20px !important;
    font-size:2.5em !important;
    color:black;
}
.creative_caption_bottom img {
    margin-bottom:10px !important;

}
.creative_caption_bottom badge {
    font-size:0.8em !important;
    border-radius:8px !important;
    padding:5px !important;
    margin-top:15px !important;
    background:gray;
    display:inline-block;
}
.creative_caption_bottom {
    position:absolute;
    width:230px;
    bottom:45px !important;
    right:15px !important;
    padding:1em !important;
    font-size: 2em !important;
    text-transform:uppercase ;
    display:inline-block;
    background: rgba(0,0,0,0.7) !important;
    color:white;
}

.sprite_bottom{
    position:absolute;
    bottom:120px !important;
}
.sprite_left{
    left:-20px !important;
}

.fb5-custom-fullpage{
    top:0px !important; 
    left:0px !important; 
    width:100% !important;
    height:100% !important;
}

.debug-line {
    border:1px dashed red !important;
}
